<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @equipment.category %>
</p>

<p>
  <strong>Number:</strong>
  <%= @equipment.number %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @equipment.hospital %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
